.pageRules{
    display: flex;
    flex: 1;
 
}
.item{ 
    margin-top: 16px;
}

.part__title{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.10000000149011612px;
   

}
.description__title{
    margin-top: 32px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.subtitle{
    &__item{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        margin-left: 30px;
        .item__sub{
            margin-left: 30px;
    
        }

    }
}
@media (max-width:1031px) {
    .sideBar{
            display: none;
    }
  
    
}